In [1]:
import pandas as pd
import numpy as np

In [2]:
cancer_df = pd.read_csv("전체암발생률.csv", encoding='cp949')

In [3]:
cancer_df

,24개 암종별,성별,연령별,2015,2015.1,2016,2016.1,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1,2022,2022.1
0,24개 암종별,성별,연령별,발생자수 (명),조발생률 (명/10만명),발생자수 (명),조발생률 (명/10만명),발생자수 (명),조발생률 (명/10만명),발생자수 (명),조발생률 (명/10만명),발생자수 (명),조발생률 (명/10만명),발생자수 (명),조발생률 (명/10만명),발생자수 (명),조발생률 (명/10만명),발생자수 (명),조발생률 (명/10만명)
1,모든 암(C00-C96),남자,0-4세,255,21.8,249,21.7,213,19.4,222,21.4,234,23.9,213,23.6,158,19.2,151,19.9
2,모든 암(C00-C96),남자,5-9세,144,12.1,153,12.7,140,11.5,145,12.1,128,10.7,117,9.9,149,12.9,126,11.4
3,모든 암(C00-C96),남자,10-14세,182,13.7,200,16.0,161,13.2,176,14.6,160,13.4,186,15.6,204,16.9,183,15.1
4,모든 암(C00-C96),남자,15-19세,329,19.1,352,21.2,324,20.5,291,19.4,276,19.5,269,20.3,279,22.5,269,22.2
5,모든 암(C00-C96),남자,20-24세,409,22.0,482,25.7,457,24.7,486,26.8,472,26.8,445,26.0,525,31.7,475,30.2
6,모든 암(C00-C96),남자,25-29세,701,43.0,776,47.0,755,44.3,861,48.9,914,50.5,1024,55.3,1171,62.8,1244,67.5
7,모든 암(C00-C96),남자,30-34세,1399,72.0,1400,75.9,1447,83.1,1471,88.5,1443,88.7,1601,98.6,1842,111.9,1910,112.4
8,모든 암(C00-C96),남자,35-39세,2158,109.3,2234,111.4,2378,116.7,2654,129.2,2736,135.6,2634,136.2,2833,154.2,2726,157.2
9,모든 암(C00-C96),남자,40-44세,3933,175.2,3792,175.3,3781,181.6,3623,180.3,3847,196.3,3693,188.2,4444,222.7,4401,217.2
10,모든 암(C00-C96),남자,45-49세,5716,258.1,5935,263.1,5756,250.8,5783,251.5,5826,256.2,5400,242.7,5910,275.5,5600,271.2
11,모든 암(C00-C96),남자,50-54세,9769,452.3,9592,452.2,9145,438.0,9089,432.6,9370,436.4,8796,402.7,9457,424.4,9287,409.7
12,모든 암(C00-C96),남자,55-59세,13961,720.6,15052,739.9,15127,716.9,15107,706.3,14948,699.5,13707,647.9,13971,671.3,13390,653.3
13,모든 암(C00-C96),남자,60-64세,14894,1118.4,16900,1162.4,17146,1098.3,18614,1117.7,19828,1115.1,18986,1010.5,21161,1070.9,21140,1031.2
14,모든 암(C00-C96),남자,65-69세,16727,1654.7,17886,1705.3,18224,1676.1,18721,1658.5,19250,1634.2,19344,1521.0,22404,1610.7,23069,1543.7
15,모든 암(C00-C96),남자,70-74세,17901,2260.3,17890,2251.2,18003,2240.3,18674,2236.7,20069,2270.9,19840,2123.6,22064,2273.6,22499,2235.7
16,모든 암(C00-C96),남자,75-79세,14995,2747.2,15911,2767.8,17020,2730.5,18666,2815.7,18997,2810.9,18049,2646.0,18908,2746.5,18995,2712.5
17,모든 암(C00-C96),남자,80-84세,8180,3054.5,9404,3144.6,10246,3122.7,11117,3120.8,12149,3141.1,12384,2995.8,13515,3076.0,14471,3023.8
18,모든 암(C00-C96),여자,0-4세,204,18.4,210,19.3,179,17.2,185,18.7,174,18.7,152,17.7,152,19.5,139,19.3
19,모든 암(C00-C96),여자,5-9세,102,9.1,138,12.1,126,11.0,107,9.4,93,8.2,145,12.9,110,10.0,103,9.8
20,모든 암(C00-C96),여자,10-14세,159,13.0,147,12.7,166,14.7,142,12.6,146,13.1,157,14.0,172,15.1,138,12.0
21,모든 암(C00-C96),여자,15-19세,333,21.3,362,23.8,290,20.0,290,21.1,314,24.0,290,23.7,301,26.1,303,26.8
22,모든 암(C00-C96),여자,20-24세,707,42.9,803,48.4,842,51.1,876,53.9,897,56.3,875,56.0,1002,65.9,970,66.9
23,모든 암(C00-C96),여자,25-29세,1509,100.6,1713,113.5,1745,112.8,1871,118.0,2034,125.6,2128,128.8,2511,150.8,2455,148.7
24,모든 암(C00-C96),여자,30-34세,3395,183.2,3380,192.8,3171,192.3,3267,208.6,3319,217.8,3233,214.6,4029,265.8,3894,250.7
25,모든 암(C00-C96),여자,35-39세,5130,269.0,5579,288.3,5806,296.0,6150,311.0,6303,324.6,5874,317.0,6567,374.4,5901,357.6
26,모든 암(C00-C96),여자,40-44세,8738,403.5,8839,422.6,8804,435.3,8993,461.1,8841,465.9,8736,459.4,10394,538.6,10403,531.8
27,모든 암(C00-C96),여자,45-49세,10418,482.7,11358,514.8,11523,514.2,11942,534.9,12225,554.5,11500,533.4,13011,624.8,12580,624.8
28,모든 암(C00-C96),여자,50-54세,12100,574.5,12229,596.3,11996,594.6,12344,600.9,13114,621.0,12653,589.3,14835,676.0,14791,663.7
29,모든 암(C00-C96),여자,55-59세,11732,603.1,12984,636.0,13103,619.8,13617,638.0,13984,658.7,13122,627.2,13922,683.3,13685,682.9
30,모든 암(C00-C96),여자,60-64세,9537,689.4,10984,726.7,11700,724.5,12223,714.5,13845,759.3,13527,702.4,15681,775.6,15942,761.6
31,모든 암(C00-C96),여자,65-69세,8782,799.4,9401,826.9,9370,797.6,9827,807.4,10303,813.9,10659,781.6,12706,852.2,13206,829.0
32,모든 암(C00-C96),여자,70-74세,9593,973.6,9695,998.6,9334,970.1,9549,975.1,10232,1004.6,9993,937.1,11488,1039.9,11306,990.1
33,모든 암(C00-C96),여자,75-79세,9022,1116.9,9794,1175.4,10258,1161.6,10534,1142.0,10845,1169.4,10203,1108.4,10547,1159.6,10378,1148.0
34,모든 암(C00-C96),여자,80-84세,6897,1310.1,7745,1370.0,7926,1320.2,8316,1312.9,8866,1324.5,8674,1243.5,9732,1344.4,9752,1267.7

In [4]:
population_df = pd.read_csv("전체인구.csv", encoding='cp949')

In [5]:
population_df

,행정구역별(읍면동),항목,연령별,2015,2016,2017,2018,2019,2020,2021,2022
0,전국,총인구_남자(명),0~4세,1159011,1137155,1077714,1025394,965211,883196,805852,748056
1,전국,총인구_남자(명),5~9세,1169770,1187031,1185280,1172145,1168966,1161247,1133426,1073564
2,전국,총인구_남자(명),10~14세,1262770,1193915,1178964,1169008,1152447,1168937,1186319,1185794
3,전국,총인구_남자(명),15~19세,1668683,1606802,1523741,1445280,1371661,1271404,1198911,1190769
4,전국,총인구_남자(명),20~24세,1887776,1898134,1872652,1851798,1806316,1762135,1681183,1597071
5,전국,총인구_남자(명),25~29세,1728888,1756218,1815686,1884327,1938641,1959723,1954718,1930682
6,전국,총인구_남자(명),30~34세,1986796,1894497,1804860,1755850,1745076,1742483,1759768,1825651
7,전국,총인구_남자(명),35~39세,2022466,2062739,2100211,2120795,2070152,1970249,1877724,1788398
8,전국,총인구_남자(명),40~44세,2218442,2124144,2060634,2001842,1974200,1997630,2038116,2075221
9,전국,총인구_남자(명),45~49세,2217013,2264120,2295736,2282577,2263200,2196042,2100431,2037952
10,전국,총인구_남자(명),50~54세,2153186,2108614,2082358,2109486,2170535,2195060,2243979,2273280
11,전국,총인구_남자(명),55~59세,1969232,2069976,2120781,2154401,2143941,2109380,2064943,2044571
12,전국,총인구_남자(명),60~64세,1379694,1508112,1596954,1715950,1816973,1912792,2016321,2058253
13,전국,총인구_남자(명),65~69세,1028129,1058989,1113374,1139381,1199690,1314575,1433783,1519093
14,전국,총인구_남자(명),70~74세,793855,790608,802127,844189,896925,946539,975415,1026934
15,전국,총인구_남자(명),75~79세,553178,585602,643508,666909,676049,684291,685723,699921
16,전국,총인구_남자(명),80~84세,276627,307499,335345,363891,396231,419037,447622,494021
17,전국,총인구_여자(명),0~4세,1099659,1081223,1025245,974823,916337,838885,764557,711245
18,전국,총인구_여자(명),5~9세,1098081,1117658,1117750,1107679,1107651,1103348,1078946,1022030
19,전국,총인구_여자(명),10~14세,1165022,1105231,1097799,1093759,1081568,1098544,1118371,1119239
20,전국,총인구_여자(명),15~19세,1525396,1477237,1398399,1327686,1265680,1178157,1114388,1112677
21,전국,총인구_여자(명),20~24세,1643332,1654646,1645038,1632946,1607340,1602669,1542471,1457149
22,전국,총인구_여자(명),25~29세,1536400,1551966,1592071,1635895,1673864,1706489,1708409,1692178
23,전국,총인구_여자(명),30~34세,1824814,1734820,1642913,1583905,1559603,1558848,1572504,1609657
24,전국,총인구_여자(명),35~39세,1904396,1939728,1970470,1986127,1929592,1835221,1744623,1648966
25,전국,총인구_여자(명),40~44세,2120385,2028276,1976414,1908222,1881203,1909035,1943594,1972575
26,전국,총인구_여자(명),45~49세,2171144,2228789,2237221,2216242,2186026,2129655,2033792,1980732
27,전국,총인구_여자(명),50~54세,2110261,2045322,2040193,2086735,2151833,2176994,2233654,2239996
28,전국,총인구_여자(명),55~59세,1987617,2095532,2137451,2165103,2141761,2101265,2032973,2031648
29,전국,총인구_여자(명),60~64세,1441763,1571101,1654745,1766388,1872435,1972505,2081537,2118430
30,전국,총인구_여자(명),65~69세,1115894,1149546,1201821,1232774,1292542,1419612,1542824,1625195
31,전국,총인구_여자(명),70~74세,976886,955615,954039,985203,1029676,1081140,1114229,1166304
32,전국,총인구_여자(명),75~79세,809491,839429,900341,918841,919119,916576,898881,898353
33,전국,총인구_여자(명),80~84세,537595,576762,608073,641782,678779,701744,731214,786618

In [6]:
# 첫 번째 행 제거 (설명 행일 가능성 있음)
cancer_df = cancer_df.iloc[1:].reset_index(drop=True)

# 컬럼명 변경
cancer_df.rename(columns={"연령별": "AgeGroup", "성별": "Sex"}, inplace=True)

# 데이터를 long format으로 변환
cancer_melted = cancer_df.melt(id_vars=["Sex", "AgeGroup"], var_name="Year", value_name="Value")

In [7]:
cancer_melted

    Sex AgeGroup     Year          Value
0    남자     0-4세  24개 암종별  모든 암(C00-C96)
1    남자     5-9세  24개 암종별  모든 암(C00-C96)
2    남자   10-14세  24개 암종별  모든 암(C00-C96)
3    남자   15-19세  24개 암종별  모든 암(C00-C96)
4    남자   20-24세  24개 암종별  모든 암(C00-C96)
..   ..      ...      ...            ...
573  여자   60-64세   2022.1          761.6
574  여자   65-69세   2022.1          829.0
575  여자   70-74세   2022.1          990.1
576  여자   75-79세   2022.1         1148.0
577  여자   80-84세   2022.1         1267.7

[578 rows x 4 columns]

In [8]:
cancer_melted = cancer_melted.loc[34:,:]

In [9]:
cancer_melted

    Sex AgeGroup    Year   Value
34   남자     0-4세    2015     255
35   남자     5-9세    2015     144
36   남자   10-14세    2015     182
37   남자   15-19세    2015     329
38   남자   20-24세    2015     409
..   ..      ...     ...     ...
573  여자   60-64세  2022.1   761.6
574  여자   65-69세  2022.1   829.0
575  여자   70-74세  2022.1   990.1
576  여자   75-79세  2022.1  1148.0
577  여자   80-84세  2022.1  1267.7

[544 rows x 4 columns]

In [10]:
# 연도 값 추출 (연도만 숫자로 변환)
cancer_melted["Year"] = cancer_melted["Year"].astype(str).str.extract(r'(\d{4})').astype(int)
# 발생자 수(`CancerCase`)와 조발생률(`IncidenceRate`)을 구분하는 `Metric` 컬럼 생성
cancer_melted["Metric"] = cancer_melted["Value"].apply(lambda x: "CancerCase" if str(x).replace('.', '').isdigit() and '.' not in str(x) else "IncidenceRate")
cancer_melted["Value"] = pd.to_numeric(cancer_melted["Value"])

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_12716\2689345833.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cancer_melted["Year"] = cancer_melted["Year"].astype(str).str.extract(r'(\d{4})').astype(int)
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_12716\2689345833.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cancer_melted["Metric"] = cancer_melted["Value"].apply(lambda x: "CancerCase" if str(x).replace('.', '').isdigit() and '.' not in str(x) else "IncidenceRate")
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_12716\2689345833.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cancer_melted["Value"] = pd.to_numeric(cancer_melted["Value"])

In [11]:
# 발생자 수와 조발생률을 각각 컬럼으로 변환
cancer_final = cancer_melted.pivot_table(index=["Sex", "AgeGroup", "Year"], columns="Metric", values="Value").reset_index()

In [12]:
# 성별 변환 ("남자" → "M", "여자" → "F")
cancer_final["Sex"] = cancer_final["Sex"].replace({"남자": "M", "여자": "F"})

# 연령대 표기 변경 ("20-24세" → "20~24세", "25-29세" → "25~29세")
cancer_final["AgeGroup"] = cancer_final["AgeGroup"].str.replace("-", "~")

In [13]:
cancer_final

Metric Sex AgeGroup  Year  CancerCase  IncidenceRate
0        M     0~4세  2015       255.0           21.8
1        M     0~4세  2016       249.0           21.7
2        M     0~4세  2017       213.0           19.4
3        M     0~4세  2018       222.0           21.4
4        M     0~4세  2019       234.0           23.9
..      ..      ...   ...         ...            ...
267      F   80~84세  2018      8316.0         1312.9
268      F   80~84세  2019      8866.0         1324.5
269      F   80~84세  2020      8674.0         1243.5
270      F   80~84세  2021      9732.0         1344.4
271      F   80~84세  2022      9752.0         1267.7

[272 rows x 5 columns]

In [14]:
population_df

,행정구역별(읍면동),항목,연령별,2015,2016,2017,2018,2019,2020,2021,2022
0,전국,총인구_남자(명),0~4세,1159011,1137155,1077714,1025394,965211,883196,805852,748056
1,전국,총인구_남자(명),5~9세,1169770,1187031,1185280,1172145,1168966,1161247,1133426,1073564
2,전국,총인구_남자(명),10~14세,1262770,1193915,1178964,1169008,1152447,1168937,1186319,1185794
3,전국,총인구_남자(명),15~19세,1668683,1606802,1523741,1445280,1371661,1271404,1198911,1190769
4,전국,총인구_남자(명),20~24세,1887776,1898134,1872652,1851798,1806316,1762135,1681183,1597071
5,전국,총인구_남자(명),25~29세,1728888,1756218,1815686,1884327,1938641,1959723,1954718,1930682
6,전국,총인구_남자(명),30~34세,1986796,1894497,1804860,1755850,1745076,1742483,1759768,1825651
7,전국,총인구_남자(명),35~39세,2022466,2062739,2100211,2120795,2070152,1970249,1877724,1788398
8,전국,총인구_남자(명),40~44세,2218442,2124144,2060634,2001842,1974200,1997630,2038116,2075221
9,전국,총인구_남자(명),45~49세,2217013,2264120,2295736,2282577,2263200,2196042,2100431,2037952
10,전국,총인구_남자(명),50~54세,2153186,2108614,2082358,2109486,2170535,2195060,2243979,2273280
11,전국,총인구_남자(명),55~59세,1969232,2069976,2120781,2154401,2143941,2109380,2064943,2044571
12,전국,총인구_남자(명),60~64세,1379694,1508112,1596954,1715950,1816973,1912792,2016321,2058253
13,전국,총인구_남자(명),65~69세,1028129,1058989,1113374,1139381,1199690,1314575,1433783,1519093
14,전국,총인구_남자(명),70~74세,793855,790608,802127,844189,896925,946539,975415,1026934
15,전국,총인구_남자(명),75~79세,553178,585602,643508,666909,676049,684291,685723,699921
16,전국,총인구_남자(명),80~84세,276627,307499,335345,363891,396231,419037,447622,494021
17,전국,총인구_여자(명),0~4세,1099659,1081223,1025245,974823,916337,838885,764557,711245
18,전국,총인구_여자(명),5~9세,1098081,1117658,1117750,1107679,1107651,1103348,1078946,1022030
19,전국,총인구_여자(명),10~14세,1165022,1105231,1097799,1093759,1081568,1098544,1118371,1119239
20,전국,총인구_여자(명),15~19세,1525396,1477237,1398399,1327686,1265680,1178157,1114388,1112677
21,전국,총인구_여자(명),20~24세,1643332,1654646,1645038,1632946,1607340,1602669,1542471,1457149
22,전국,총인구_여자(명),25~29세,1536400,1551966,1592071,1635895,1673864,1706489,1708409,1692178
23,전국,총인구_여자(명),30~34세,1824814,1734820,1642913,1583905,1559603,1558848,1572504,1609657
24,전국,총인구_여자(명),35~39세,1904396,1939728,1970470,1986127,1929592,1835221,1744623,1648966
25,전국,총인구_여자(명),40~44세,2120385,2028276,1976414,1908222,1881203,1909035,1943594,1972575
26,전국,총인구_여자(명),45~49세,2171144,2228789,2237221,2216242,2186026,2129655,2033792,1980732
27,전국,총인구_여자(명),50~54세,2110261,2045322,2040193,2086735,2151833,2176994,2233654,2239996
28,전국,총인구_여자(명),55~59세,1987617,2095532,2137451,2165103,2141761,2101265,2032973,2031648
29,전국,총인구_여자(명),60~64세,1441763,1571101,1654745,1766388,1872435,1972505,2081537,2118430
30,전국,총인구_여자(명),65~69세,1115894,1149546,1201821,1232774,1292542,1419612,1542824,1625195
31,전국,총인구_여자(명),70~74세,976886,955615,954039,985203,1029676,1081140,1114229,1166304
32,전국,총인구_여자(명),75~79세,809491,839429,900341,918841,919119,916576,898881,898353
33,전국,총인구_여자(명),80~84세,537595,576762,608073,641782,678779,701744,731214,786618

In [15]:
# 컬럼명 변경
population_df.rename(columns={"연령별": "AgeGroup", "항목": "Sex_Info"}, inplace=True)

# 성별 구분 ("총인구_남자(명)" → "M", "총인구_여자(명)" → "F")
population_df["Sex"] = population_df["Sex_Info"].apply(lambda x: "M" if "남자" in x else "F")

In [16]:
population_df

,행정구역별(읍면동),Sex_Info,AgeGroup,2015,2016,2017,2018,2019,2020,2021,2022,Sex
0,전국,총인구_남자(명),0~4세,1159011,1137155,1077714,1025394,965211,883196,805852,748056,M
1,전국,총인구_남자(명),5~9세,1169770,1187031,1185280,1172145,1168966,1161247,1133426,1073564,M
2,전국,총인구_남자(명),10~14세,1262770,1193915,1178964,1169008,1152447,1168937,1186319,1185794,M
3,전국,총인구_남자(명),15~19세,1668683,1606802,1523741,1445280,1371661,1271404,1198911,1190769,M
4,전국,총인구_남자(명),20~24세,1887776,1898134,1872652,1851798,1806316,1762135,1681183,1597071,M
5,전국,총인구_남자(명),25~29세,1728888,1756218,1815686,1884327,1938641,1959723,1954718,1930682,M
6,전국,총인구_남자(명),30~34세,1986796,1894497,1804860,1755850,1745076,1742483,1759768,1825651,M
7,전국,총인구_남자(명),35~39세,2022466,2062739,2100211,2120795,2070152,1970249,1877724,1788398,M
8,전국,총인구_남자(명),40~44세,2218442,2124144,2060634,2001842,1974200,1997630,2038116,2075221,M
9,전국,총인구_남자(명),45~49세,2217013,2264120,2295736,2282577,2263200,2196042,2100431,2037952,M
10,전국,총인구_남자(명),50~54세,2153186,2108614,2082358,2109486,2170535,2195060,2243979,2273280,M
11,전국,총인구_남자(명),55~59세,1969232,2069976,2120781,2154401,2143941,2109380,2064943,2044571,M
12,전국,총인구_남자(명),60~64세,1379694,1508112,1596954,1715950,1816973,1912792,2016321,2058253,M
13,전국,총인구_남자(명),65~69세,1028129,1058989,1113374,1139381,1199690,1314575,1433783,1519093,M
14,전국,총인구_남자(명),70~74세,793855,790608,802127,844189,896925,946539,975415,1026934,M
15,전국,총인구_남자(명),75~79세,553178,585602,643508,666909,676049,684291,685723,699921,M
16,전국,총인구_남자(명),80~84세,276627,307499,335345,363891,396231,419037,447622,494021,M
17,전국,총인구_여자(명),0~4세,1099659,1081223,1025245,974823,916337,838885,764557,711245,F
18,전국,총인구_여자(명),5~9세,1098081,1117658,1117750,1107679,1107651,1103348,1078946,1022030,F
19,전국,총인구_여자(명),10~14세,1165022,1105231,1097799,1093759,1081568,1098544,1118371,1119239,F
20,전국,총인구_여자(명),15~19세,1525396,1477237,1398399,1327686,1265680,1178157,1114388,1112677,F
21,전국,총인구_여자(명),20~24세,1643332,1654646,1645038,1632946,1607340,1602669,1542471,1457149,F
22,전국,총인구_여자(명),25~29세,1536400,1551966,1592071,1635895,1673864,1706489,1708409,1692178,F
23,전국,총인구_여자(명),30~34세,1824814,1734820,1642913,1583905,1559603,1558848,1572504,1609657,F
24,전국,총인구_여자(명),35~39세,1904396,1939728,1970470,1986127,1929592,1835221,1744623,1648966,F
25,전국,총인구_여자(명),40~44세,2120385,2028276,1976414,1908222,1881203,1909035,1943594,1972575,F
26,전국,총인구_여자(명),45~49세,2171144,2228789,2237221,2216242,2186026,2129655,2033792,1980732,F
27,전국,총인구_여자(명),50~54세,2110261,2045322,2040193,2086735,2151833,2176994,2233654,2239996,F
28,전국,총인구_여자(명),55~59세,1987617,2095532,2137451,2165103,2141761,2101265,2032973,2031648,F
29,전국,총인구_여자(명),60~64세,1441763,1571101,1654745,1766388,1872435,1972505,2081537,2118430,F
30,전국,총인구_여자(명),65~69세,1115894,1149546,1201821,1232774,1292542,1419612,1542824,1625195,F
31,전국,총인구_여자(명),70~74세,976886,955615,954039,985203,1029676,1081140,1114229,1166304,F
32,전국,총인구_여자(명),75~79세,809491,839429,900341,918841,919119,916576,898881,898353,F
33,전국,총인구_여자(명),80~84세,537595,576762,608073,641782,678779,701744,731214,786618,F

In [17]:
# 필요 없는 컬럼 제거
population_df.drop(columns=["행정구역별(읍면동)", "Sex_Info"], inplace=True)

# 데이터를 long format으로 변환 (연도별 인구 데이터 펼치기)
population_melted = population_df.melt(id_vars=["Sex", "AgeGroup"], var_name="Year", value_name="Population")

In [18]:
population_melted

    Sex AgeGroup  Year  Population
0     M     0~4세  2015     1159011
1     M     5~9세  2015     1169770
2     M   10~14세  2015     1262770
3     M   15~19세  2015     1668683
4     M   20~24세  2015     1887776
..   ..      ...   ...         ...
267   F   60~64세  2022     2118430
268   F   65~69세  2022     1625195
269   F   70~74세  2022     1166304
270   F   75~79세  2022      898353
271   F   80~84세  2022      786618

[272 rows x 4 columns]

In [19]:
# 연도 값 정리
population_melted["Year"] = population_melted["Year"].astype(str).str.extract(r'(\d{4})').astype(int)

# Population 컬럼 숫자로 변환
population_melted["Population"] = pd.to_numeric(population_melted["Population"], errors="coerce")

In [20]:
population_melted

    Sex AgeGroup  Year  Population
0     M     0~4세  2015     1159011
1     M     5~9세  2015     1169770
2     M   10~14세  2015     1262770
3     M   15~19세  2015     1668683
4     M   20~24세  2015     1887776
..   ..      ...   ...         ...
267   F   60~64세  2022     2118430
268   F   65~69세  2022     1625195
269   F   70~74세  2022     1166304
270   F   75~79세  2022      898353
271   F   80~84세  2022      786618

[272 rows x 4 columns]

In [21]:
cancer_final

Metric Sex AgeGroup  Year  CancerCase  IncidenceRate
0        M     0~4세  2015       255.0           21.8
1        M     0~4세  2016       249.0           21.7
2        M     0~4세  2017       213.0           19.4
3        M     0~4세  2018       222.0           21.4
4        M     0~4세  2019       234.0           23.9
..      ..      ...   ...         ...            ...
267      F   80~84세  2018      8316.0         1312.9
268      F   80~84세  2019      8866.0         1324.5
269      F   80~84세  2020      8674.0         1243.5
270      F   80~84세  2021      9732.0         1344.4
271      F   80~84세  2022      9752.0         1267.7

[272 rows x 5 columns]

In [22]:
### 3️⃣ 암 발생 데이터와 인구 데이터 병합 ###
df_final = pd.merge(cancer_final, population_melted, on=["Sex", "AgeGroup", "Year"], how="inner")

# `Group` 컬럼 생성 (예: M20_24, F25_29)
df_final["Group"] = df_final["Sex"] + df_final["AgeGroup"].str[:-1]

# 최종 컬럼 정리
df_final = df_final[["Year", "Group", "IncidenceRate", "Population", "CancerCase"]]

In [23]:
df_final['Group'] = df_final['Group'].str.replace('~', '_')

In [24]:
df_final

     Year   Group  IncidenceRate  Population  CancerCase
0    2015    M0_4           21.8     1159011       255.0
1    2016    M0_4           21.7     1137155       249.0
2    2017    M0_4           19.4     1077714       213.0
3    2018    M0_4           21.4     1025394       222.0
4    2019    M0_4           23.9      965211       234.0
..    ...     ...            ...         ...         ...
267  2018  F80_84         1312.9      641782      8316.0
268  2019  F80_84         1324.5      678779      8866.0
269  2020  F80_84         1243.5      701744      8674.0
270  2021  F80_84         1344.4      731214      9732.0
271  2022  F80_84         1267.7      786618      9752.0

[272 rows x 5 columns]

In [25]:
df_final.to_csv("C:/동국대학교/공모전/DB손해보험/data/전체전처리.csv", index=False)

In [26]:
df_final_2022 = df_final[df_final['Year']==2022]

In [27]:
df_final_2022 = df_final_2022.reset_index()

In [28]:
df_final_2022 = df_final_2022.iloc[:,1:]

In [29]:
df_final_2022.to_csv("C:/동국대학교/공모전/DB손해보험/data/전체전처리_2022.csv", index=False)